@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
  }
  
  .login-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 380px;
    max-width: 100%;
  }
  
  .login-box h1 {
    color: #333;
    font-size: 28px;
    text-align: center;
    padding: 20px 0;
    margin: 0;
  }
  
  .user-box {
    position: relative;
    margin: 30px 0;
  }
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.sidebar {
    width: 200px;
    background: #2c3e50;
    color: #fff;
    position: fixed;
    height: 100%;
    padding-top: 20px;
    transition: margin-left 0.3s;
}
.sidebar.hidden {
    margin-left: -200px; /* Sembunyikan sidebar */
}


.sidebar a {
    display: block;
    color: #fff;
    padding: 15px;
    text-decoration: none;
}
.menu{
    margin-top: 50px;
}
.sidebar a:hover {
    background: #34495e;
}
.content {
    margin-left: 200px;
    padding: 20px;
    transition: margin-left 0.3s;
}
.content.expanded {
    margin-left: 0; /* Sesuaikan margin saat sidebar disembunyikan */
}
.navbar {
    background: #34495e;
    color: white;
    padding: 8px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center; 
    gap: 2.5rem;
}

.navbar h1{
    margin: 0.5rem;
    font-size: 1.1rem;
}

.navbar button {
    background: #34495e;
    color: white;
    border: none;
    font-size: large;
    padding: 10px;
    cursor: pointer;
}
.navbar button:hover {
    background: #2980b9;
}
.headtitle {
  color:#2c3e50;
  margin-top: 50px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #fff;
}
table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
table th {
  position: sticky;
  top: 60px;
  background: #34495e;
  color: white;
  z-index: 2;
}
.profile-dropdown {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  margin-left: auto; /* Pushes the profile dropdown to the right */
}
.profile-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  right: 0; /* Align to the right */
}
.profile-content a, .profile-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.profile-content a:hover, .profile-content button:hover {
  background-color: #f1f1f1;
}

/* close */
.btn {
    padding: 5px 10px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover {
    background: #2980b9;
}


/* order */
.btn_PickUp {
  padding: 5px 10px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn_PickUp:hover {
  background: #2980b9;
}

/* pickup */
.btn_close {
  padding: 5px 10px;
  background: #B82132;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.btn_close:hover {
  background: #D2665A;
}
/* Styling the Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}
.close {
  padding: 5px 10px;
  background: #B82132;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.close:hover {
  background: #D2665A;
}
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
button {
  padding: 5px 10px;
  background: #B82132;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background: #D2665A;
}
